
.fade-to-white {
  position: relative;
}

.fade-to-white::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(229, 231, 235, 1) 100%);

}

.dark .fade-to-white::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#cards {
  display: grid;
  grid-auto-rows: 96px;
  gap: 8px;  
  width: 100%;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  grid-column-end: span 1;
  grid-row-end: span 3;
  background-color: #ccc;
}


.dark .card {
  background-color: #1f2937;
}

.card:hover::before {
  opacity: 1;
}

.card::before,

.card::after {
  border-radius: inherit;

  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.2),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.8),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: white;

  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  position: absolute;
  z-index: 2;
}

.dark .card >  .card-content {
  background-color: #111827;
}

.card-footer {
  background-color: #e5e7eb;
  color: #374151;
}

.dark .card-footer {
  background-color: black;
  color: white;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
  height: 75%;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 8px;
  height: 25%;
}


