/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import 'inkeep-search';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Inter';
		src: url('/Inter-Variable.ttf');
		font-weight: 100 900;
		font-display: swap;
	}
}

body * {
	@apply transition-colors duration-200;
}

:root {
	--ifm-navbar-background-color: white;
	--ifm-background-color: white;
	--ifm-font-family-base: 'Inter', 'Inter';
	--doc-sidebar-width: 320px !important;
	--ifm-color-primary: rgb(59, 130, 246);
	--ifm-color-primary-dark: rgb(37, 102, 206);
	--ifm-color-primary-darker: rgb(23, 70, 146);
	--ifm-color-primary-darkest: rgb(6, 52, 126);
	--ifm-color-primary-light: rgb(77, 48, 207);
	--ifm-color-primary-lighter: rgb(132, 152, 241);
	--ifm-color-primary-lightest: rgb(169, 175, 211);
	--ifm-code-font-size: 95%;
	--ifm-menu-color-active: rgb(59, 130, 246);
}

:root[data-theme='dark'] {
	--ifm-navbar-background-color: #1e232e;
	--ifm-background-color: #1e232e;
	--ifm-menu-color-active: #93c5fd;
	--ifm-color-primary: #93c5fd;
}

.navbar {
	@apply border-b dark:border-gray-800;
}

.markdown {
	font-size: 16px;
	line-height: 1.5rem;
}

.markdown-blog {
	line-height: 1.75rem;
}

.markdown-blog > p {
	font-weight: 400 !important;
}

.docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.3);
}

.api {
	margin-bottom: 4rem;
}
.api h3 {
	color: #fff;
	background: #555;
	padding: 5px 10px;
}
.api__body {
	margin: 0 0 0 1rem;
}
.api__signature {
	font-family: var(--ifm-font-family-monospace);
	font-size: var(--ifm-code-font-size);
	background-color: var(--ifm-code-background);
	padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
}
.api__description {
	margin: 1rem 0;
}

h1 {
	@apply !text-3xl !font-bold text-gray-900 dark:text-white;
}

.markdown h1 {
	@apply !text-4xl !font-semibold mt-12 mb-4  dark:text-white border-b pb-4 border-gray-100 dark:border-gray-800 leading-5 tracking-tight;
}

h2 {
	@apply text-2xl font-bold leading-4 tracking-tight dark:text-white;
}

h3 {
	@apply text-xl font-bold dark:text-white;
}

.markdown h2 {
	@apply text-xl font-semibold !mt-12 dark:text-white;
}

.markdown h3 {
	@apply text-lg;
	@apply font-semibold;
	@apply dark:text-white;
}

h4 {
	@apply text-base;
	@apply font-semibold;
	@apply dark:text-white;
}

li {
	@apply dark:text-white;
}

/**
 * Only apply to images in the docs
 */
#__docusaurus.img {
	@apply border-2;
	@apply rounded-xl;
}

.markdown {
	@apply max-w-4xl mx-auto;
}

div.markdown ul > li {
	list-style-type: disc !important;
	margin-left: 20px !important;
}

ul.breadcrumbs {
	@apply flex flex-row;
}

li.breadcrumbs__item {
	@apply flex items-center;
}

div.markdown ol > li {
	list-style-type: decimal !important;
	margin-left: 20px !important;
}

div.markdown ul,
div.markdown ol {
	margin-left: 20px !important;
	margin-bottom: 20px !important;
}

a {
	@apply text-blue-500;
}

.homepage th,
.homepage td {
	border: none;
}

.homepage table tr:nth-child(2n) {
	background-color: white;
}

[data-theme='dark'] .header-github-link::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
		no-repeat;
}

.header-github-link::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
		no-repeat;
	content: '';
	display: flex;
	height: 24px;
	width: 24px;
}

.header-discord-link::before {
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTI1LjEyLDYuOTQ2Yy0yLjQyNC0xLjk0OC02LjI1Ny0yLjI3OC02LjQxOS0yLjI5MmMtMC4yNTYtMC4wMjItMC40OTksMC4xMjMtMC42MDQsMC4zNTcgYy0wLjAwNCwwLjAwOC0wLjIxOCwwLjYyOS0wLjQyNSwxLjIyOGMyLjgxNywwLjQ5Myw0LjczMSwxLjU4Nyw0LjgzMywxLjY0N2MwLjQ3OCwwLjI3OCwwLjYzOCwwLjg5MSwwLjM1OSwxLjM2OCBDMjIuNjc5LDkuNTcyLDIyLjM0NCw5Ljc1LDIyLDkuNzVjLTAuMTcxLDAtMC4zNDMtMC4wNDMtMC41MDEtMC4xMzVDMjEuNDcxLDkuNTk4LDE4LjY2Myw4LDE1LjAwMiw4IEMxMS4zNCw4LDguNTMxLDkuNTk5LDguNTAzLDkuNjE1QzguMDI2LDkuODkyLDcuNDE0LDkuNzI5LDcuMTM3LDkuMjUxQzYuODYsOC43NzUsNy4wMjEsOC4xNjQsNy40OTcsNy44ODYgYzAuMTAyLTAuMDYsMi4wMjMtMS4xNTgsNC44NDgtMS42NWMtMC4yMTgtMC42MDYtMC40MzgtMS4yMTctMC40NDItMS4yMjVjLTAuMTA1LTAuMjM1LTAuMzQ4LTAuMzgzLTAuNjA0LTAuMzU3IGMtMC4xNjIsMC4wMTMtMy45OTUsMC4zNDMtNi40NTEsMi4zMThDMy41NjQsOC4xNTgsMSwxNS4wOTIsMSwyMS4wODdjMCwwLjEwNiwwLjAyNywwLjIwOSwwLjA4LDAuMzAxIGMxLjc3MSwzLjExLDYuNTk5LDMuOTI0LDcuNjk5LDMuOTU5YzAuMDA3LDAuMDAxLDAuMDEzLDAuMDAxLDAuMDE5LDAuMDAxYzAuMTk0LDAsMC4zNzctMC4wOTMsMC40OTItMC4yNWwxLjE5LTEuNjEyIGMtMi42MS0wLjYyOS0zLjk5LTEuNjE4LTQuMDczLTEuNjc5Yy0wLjQ0NC0wLjMyNy0wLjU0LTAuOTUzLTAuMjEzLTEuMzk4YzAuMzI2LTAuNDQzLDAuOTUtMC41NDEsMS4zOTQtMC4yMTYgQzcuNjI1LDIwLjIxNywxMC4xNzIsMjIsMTUsMjJjNC44NDcsMCw3LjM4Ny0xLjc5LDcuNDEyLTEuODA4YzAuNDQ0LTAuMzIyLDEuMDctMC4yMjUsMS4zOTUsMC4yMjEgYzAuMzI0LDAuNDQ0LDAuMjMsMS4wNjYtMC4yMTIsMS4zOTJjLTAuMDgzLDAuMDYxLTEuNDU2LDEuMDQ4LTQuMDYsMS42NzdsMS4xNzUsMS42MTVjMC4xMTUsMC4xNTgsMC4yOTgsMC4yNSwwLjQ5MiwwLjI1IGMwLjAwNywwLDAuMDEzLDAsMC4wMTktMC4wMDFjMS4xMDEtMC4wMzUsNS45MjktMC44NDksNy42OTktMy45NTljMC4wNTMtMC4wOTIsMC4wOC0wLjE5NSwwLjA4LTAuMzAxIEMyOSwxNS4wOTIsMjYuNDM2LDguMTU4LDI1LjEyLDYuOTQ2eiBNMTEsMTljLTEuMTA1LDAtMi0xLjExOS0yLTIuNVM5Ljg5NSwxNCwxMSwxNHMyLDEuMTE5LDIsMi41UzEyLjEwNSwxOSwxMSwxOXogTTE5LDE5IGMtMS4xMDUsMC0yLTEuMTE5LTItMi41czAuODk1LTIuNSwyLTIuNXMyLDEuMTE5LDIsMi41UzIwLjEwNSwxOSwxOSwxOXoiPjwvcGF0aD48L3N2Zz4=')
		no-repeat;

	content: '';
	display: flex;
	height: 28px;
	width: 30px;
	@apply dark:bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiNGRkZGRkY7Ij4gICAgPHBhdGggZD0iTTI1LjEyLDYuOTQ2Yy0yLjQyNC0xLjk0OC02LjI1Ny0yLjI3OC02LjQxOS0yLjI5MmMtMC4yNTYtMC4wMjItMC40OTksMC4xMjMtMC42MDQsMC4zNTcgYy0wLjAwNCwwLjAwOC0wLjIxOCwwLjYyOS0wLjQyNSwxLjIyOGMyLjgxNywwLjQ5Myw0LjczMSwxLjU4Nyw0LjgzMywxLjY0N2MwLjQ3OCwwLjI3OCwwLjYzOCwwLjg5MSwwLjM1OSwxLjM2OCBDMjIuNjc5LDkuNTcyLDIyLjM0NCw5Ljc1LDIyLDkuNzVjLTAuMTcxLDAtMC4zNDMtMC4wNDMtMC41MDEtMC4xMzVDMjEuNDcxLDkuNTk4LDE4LjY2Myw4LDE1LjAwMiw4IEMxMS4zNCw4LDguNTMxLDkuNTk5LDguNTAzLDkuNjE1QzguMDI2LDkuODkyLDcuNDE0LDkuNzI5LDcuMTM3LDkuMjUxQzYuODYsOC43NzUsNy4wMjEsOC4xNjQsNy40OTcsNy44ODYgYzAuMTAyLTAuMDYsMi4wMjMtMS4xNTgsNC44NDgtMS42NWMtMC4yMTgtMC42MDYtMC40MzgtMS4yMTctMC40NDItMS4yMjVjLTAuMTA1LTAuMjM1LTAuMzQ4LTAuMzgzLTAuNjA0LTAuMzU3IGMtMC4xNjIsMC4wMTMtMy45OTUsMC4zNDMtNi40NTEsMi4zMThDMy41NjQsOC4xNTgsMSwxNS4wOTIsMSwyMS4wODdjMCwwLjEwNiwwLjAyNywwLjIwOSwwLjA4LDAuMzAxIGMxLjc3MSwzLjExLDYuNTk5LDMuOTI0LDcuNjk5LDMuOTU5YzAuMDA3LDAuMDAxLDAuMDEzLDAuMDAxLDAuMDE5LDAuMDAxYzAuMTk0LDAsMC4zNzctMC4wOTMsMC40OTItMC4yNWwxLjE5LTEuNjEyIGMtMi42MS0wLjYyOS0zLjk5LTEuNjE4LTQuMDczLTEuNjc5Yy0wLjQ0NC0wLjMyNy0wLjU0LTAuOTUzLTAuMjEzLTEuMzk4YzAuMzI2LTAuNDQzLDAuOTUtMC41NDEsMS4zOTQtMC4yMTYgQzcuNjI1LDIwLjIxNywxMC4xNzIsMjIsMTUsMjJjNC44NDcsMCw3LjM4Ny0xLjc5LDcuNDEyLTEuODA4YzAuNDQ0LTAuMzIyLDEuMDctMC4yMjUsMS4zOTUsMC4yMjEgYzAuMzI0LDAuNDQ0LDAuMjMsMS4wNjYtMC4yMTIsMS4zOTJjLTAuMDgzLDAuMDYxLTEuNDU2LDEuMDQ4LTQuMDYsMS42NzdsMS4xNzUsMS42MTVjMC4xMTUsMC4xNTgsMC4yOTgsMC4yNSwwLjQ5MiwwLjI1IGMwLjAwNywwLDAuMDEzLDAsMC4wMTktMC4wMDFjMS4xMDEtMC4wMzUsNS45MjktMC44NDksNy42OTktMy45NTljMC4wNTMtMC4wOTIsMC4wOC0wLjE5NSwwLjA4LTAuMzAxIEMyOSwxNS4wOTIsMjYuNDM2LDguMTU4LDI1LjEyLDYuOTQ2eiBNMTEsMTljLTEuMTA1LDAtMi0xLjExOS0yLTIuNVM5Ljg5NSwxNCwxMSwxNHMyLDEuMTE5LDIsMi41UzEyLjEwNSwxOSwxMSwxOXogTTE5LDE5IGMtMS4xMDUsMC0yLTEuMTE5LTItMi41czAuODk1LTIuNSwyLTIuNXMyLDEuMTE5LDIsMi41UzIwLjEwNSwxOSwxOSwxOXoiPjwvcGF0aD48L3N2Zz4=')];
}

.header-stars-link::before {
	background: url("https://img.shields.io/github/stars/windmill-labs/windmill?style=social&logo=''")
		no-repeat;
	content: '';
	display: flex;
	height: 20px;
	width: 80px;
}

.react-slideshow-container {
	margin: 0 auto;
}

.rb-tabs-header {
	@apply flex justify-center;
}

.section {
	@apply mt-24;
	@apply mb-12;
}

.section-header {
	@apply mx-auto max-w-md px-4;
	@apply text-center;
	@apply sm:max-w-3xl lg:max-w-7xl;
	@apply sm:px-6 lg:px-8;
	@apply mb-12;
}

.section-title {
	@apply subpixel-antialiased mb-4 text-3xl font-bold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl;
}

.box {
	@apply border border-gray-600 rounded-lg shadow-md p-4 mx-2;
}

.landing-section-gradient-background {
	background: linear-gradient(327.21deg, #bcd4fc 3.65%, rgba(59, 130, 246, 0) 40.32%),
		linear-gradient(245.93deg, rgba(59, 130, 246, 0.16) 0%, rgba(59, 130, 246, 0) 36.63%),
		linear-gradient(147.6deg, rgba(59, 130, 246, 0) 29.79%, rgba(59, 130, 246, 0.01) 85.72%),
		#ffffff;
}

.dark-gray-font {
	color: #212427;
}

.card-shadow-blue {
	box-shadow: rgba(59, 130, 246, 0.4) 0px 4px 24px;
}

.card-shadow-green {
	box-shadow: rgba(34, 197, 94, 0.4) 0px 4px 24px;
}

.card-shadow-orange {
	box-shadow: rgba(249, 115, 22, 0.4) 0px 4px 24px;
}

.landing-section-gradient-background-dark {
	background: linear-gradient(327.21deg, #bcd4fc 3.65%, rgba(59, 130, 246, 0) 40.32%),
		linear-gradient(245.93deg, rgba(59, 130, 246, 0.16) 0%, rgba(59, 130, 246, 0) 36.63%),
		linear-gradient(147.6deg, rgba(59, 130, 246, 0) 29.79%, rgba(59, 130, 246, 0.01) 85.72%), #000;
}

table {
	font-family: 'Inter', sans-serif; /* Use Inter font */
	font-size: 14px; /* Set small text size */
	border-collapse: collapse; /* Merge table borders */
	width: 100%;
	display: inline-table;
}
th,
td {
	text-align: left; /* Left align table cells */
	padding: 8px; /* Add padding to table cells */
	border: 1px solid #ddd; /* Add border to table cells */
	@apply dark:text-gray-200;
}

td:nth-of-type(2):first-child {
	background-color: red;
}

th {
	@apply bg-gray-200 dark:bg-gray-800 dark:text-gray-200;
}

.theme-doc-breadcrumbs {
	@apply max-w-4xl mx-auto pt-4;
}

.table-of-contents {
	@apply mt-24;
}

.pagination-nav {
	@apply max-w-4xl mx-auto;
}

.table-of-contents__link {
	@apply text-gray-700 dark:text-white;
}

.table-of-contents__link--active {
	@apply text-blue-900 dark:text-blue-400;
}

article a {
	@apply text-blue-500 dark:!text-blue-400;
}

div.testimonials a:hover .x-name {
	color: #1da1f2;
}

div.testimonials a:hover .hn-name {
	color: #ff4000;
}

div.testimonials a:hover .discord-name {
	color: #7289da;
}

div.testimonials a:hover .wm-name {
	color: #2196f3;
}

.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.theme-back-to-top-button {
	bottom: 5.3rem !important;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container .logo {
    margin-left: 8px;
}


.generic-workers-image {
	background-image: url('/static/images/generic_workers.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}

[data-theme='dark'] .generic-workers-image {
	background-image: url('/static/images/generic_workers_dark.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}

.dedicated-workers-image {
	background-image: url('/static/images/dedicated_workers.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}

[data-theme='dark'] .dedicated-workers-image {
	background-image: url('/static/images/dedicated_workers_dark.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}

.social-icons {
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer-section {
    margin-top: 4px;
    padding-top: 4px;
}

.hover-change-color:hover {
    fill: #F0F0F0
}

.hover-darker-color:hover {
    filter: brightness(80%);
}
.group-darker-change-color:hover {
    filter: brightness(80%);
}

.image-hover-change-color:hover {
    filter: brightness(80%);
}

.interactive-image {
	cursor: pointer;
	transition: filter 0.3s;
	border-radius: 2px;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .interactive-image:hover {
	filter: brightness(90%);
  }
  
  .svg-image {
	box-shadow: none;
  }

.group:hover .banner {
    display: block;
}

.banner {
    transition: all 0.3s ease;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.custom-link {
	color: inherit;
	text-decoration: underline dashed;
  }
  
  .custom-link:hover {
	color: rgb(30, 58, 138);
	text-decoration: underline dashed;
  }
  