name: Deploy
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v2
      - name: Build site and deploy
        run: |
          yarn install
          yarn build
          sudo cp -r build/* /www/
